<body>
    <div class = "school">
        <p>大学院</p>
        <%# <%= form.select %>  
    </div>
    <div class = "course">
        <p>研究科</p>
        <%# <%= form.select %>  
    </div>
    <div class = "major">
        <p>専攻</p>
        <%# <%= form.select %>  
    </div>
    <div class = "subject">
        <p>科目</p>
        <%# <%= form.select %>  
    </div>
</body>